<?xml version="1.0"?>
<model>
  <name>Astrobee Free-Flyer</name>
  <version>0.1</version>
  <sdf version="1.6">../../description/urdf/model.urdf.xacro</sdf>
  <author>
    <name>Astrobee Flight Software</name>
    <email>astrobee-fsw@nx.arc.nasa.gov</email>
  </author>
  <description>
    This model config is just to avoid a Gazebo error message at runtime. The
    free-flyer itself is loaded with arguments through xacro, so it can't be
    inserted manually using the Gazebo GUI.
  </description>
</model>
